body {
    background-color: darkkhaki;
}
.container{
    background-color: lightgoldenrodyellow;
    margin:0 auto;
    border: 1px dashed black;
    padding:50px;
}
.nav {
    list-style:none;
    text-align: center;
    }

.nav li {
    display:inline;
    margin-right:20px

}        
.copy {
    text-align: center;
    background-color:indianred;
}

#span1 {
    color:chartreuse;
     font-family: "Bungee Spice";font-size: 22px;


}

#span2 {
    font-size: 67px;
}